.votes {
  .fa-thumbs-up {
    margin-right: 0.4rem;
  }

  .username {
    color: rgb(52, 52, 248);
  }

  .fa-thumbs-down {
    margin-left: 0.5rem;
  }

  i {
    color: #909090;
    cursor: pointer;

    &:hover {
      color: darken($color: #909090, $amount: 20);
    }
  }
}

.comment {
  .username {
    padding: 0.2rem 0.4rem;
    border-radius: 8px;
    background-color: lighten($color: #000000, $amount: 90);
  }
  .author-username {
    background-color: lighten($color: #000000, $amount: 20);
    color: white;
  }
  .comment-text {
    padding-top: 0.1rem;
    padding-left: 0.1rem;
  }
}
