.votes {
  .fa-thumbs-up {
    margin-right: 0.4rem;
  }

  .username {
    color: rgb(52, 52, 248);
  }

  .fa-thumbs-down {
    margin-left: 0.5rem;
  }

  i {
    color: #909090;
    cursor: pointer;

    &:hover {
      color: darken($color: #909090, $amount: 20);
    }
  }
}

.comment {
  .text-bold {
    font-weight: 600;
  }
}

.author-comment {
  border: 1px solid rgb(168, 167, 167);
}
