.videoMain {
  margin-top: 4.2rem;

  .title {
    margin-bottom: 0.8rem;
  }

  .videos {
    margin: 0 0.8rem;
    margin-bottom: 0.8rem;
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .videoMain .videos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .videoMain .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .videoMain .videos {
    grid-template-columns: repeat(1, 1fr);
  }
}
