nav {
  width: 100%;
  display: flex;
  height: 3.4rem;
  padding: 0.4rem 1.6rem;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.4rem;
  z-index: 2;
  margin-bottom: 2rem;
  color: white;

  .mobile-search {
    cursor: pointer;
    display: none;
    width: 50px;
    border: none;
    color: white;
    font-size: 1.2rem;
    background-color: transparent;
  }

  a {
    color: white;
  }

  h2 {
    color: white;
  }

  .logo {
    font-size: 1.2rem;
    color: white;

    align-items: center;
    display: flex;
    img {
      height: 24px;
      margin-right: 0.4rem;
    }
  }

  .profile {
    height: 40px;
    border-radius: 50%;

    &-link {
      margin-left: 0.8rem;
    }
  }

  .search-container {
    display: flex;

    .search {
      border: none;
      padding: 0.5rem 0.4rem;
      width: 440px;
      border: 1px solid rgb(199, 199, 199);

      &:focus {
        outline: none;
      }

      &-btn {
        cursor: pointer;
        width: 50px;
        border: 1px solid rgb(199, 199, 199);
        border-left: none;
        background-color: rgb(231, 230, 230);
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .upload-btn {
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 800px) {
  nav {
    .mobile-search {
      display: block;
    }

    .mobile-search-field {
      margin-top: 0.2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      input {
        background-color: white;
        padding: 0.4rem 0.6rem;
        width: 80%;
      }

      grid-column: 1 / span 2;

      .mobile-icon {
        font-size: 1.2rem;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
    // height: 6rem;
    display: grid;
    // align-items: center;
    // justify-content: center;
    .logo {
      margin-bottom: 0.6rem;
    }
    grid-template-areas:
      'left right'
      'search search';

    .search-container {
      display: none;
      // margin-top: 0.4rem;
      grid-area: search;
      .search {
        width: 100%;
      }
    }
  }

  .left {
    grid-area: left;
    align-self: end;
  }

  .right {
    grid-area: right;
    justify-self: end;
  }
}
